<nav>

    <div class="site-title">

        <a href="/"><h1>item Ninja</h1></a>

        <p> test test </p>

    </div>
    <div class="NavButtons">
        <% if (isAuthenticated) { %>
        <a href="/user">
            <div class="NavButton"> 
                <p>Just dive in <%-user.nickname %></p>
             </div>
        </a>
        <% }else {%>
        <a href="/login">
            <div class="NavButton"> 
                <p>Log in!</p>
             </div>
        </a>
        <% } %>
    </div>
    <ul>

        <li><a href="/">Sklep</a></li>
        <% if (isAuthenticated) { %>
        <li><a href="/shops">Koszyk</a></li>
        <% } %>
        <li><a href="/about">O nas</a></li>
      
        <% if (isAuthenticated) { %>
            <li><a href="/logout">Wyloguj</li>
                <%- include('./auth.ejs') %>
        <% } else {%>
            <li><a href="/login">Zaloguj</li>
            <% } %>

    </ul>

</nav>