<nav>

    <div class="site-title">

        <a href="/"><h1>Luxury Flavour</h1></a>

        <p> Unique premium goods </p>

    </div>
    <div class="site-nav">
        <ul>

            <li><a href="/">Sklep</a></li>
            <% if (isAuthenticated) { %>
                <li><a href="/shops">Koszyk</a></li>
            <% } %>
            <li><a href="/about">O nas</a></li>

        </ul>

</nav>